@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua');
@import url('https://fonts.googleapis.com/css?family=Lobster');


.rubbe {
    color: white;
    font-family: Lobster;
    
}

input {
   
    border-radius: 2em;
}
button {
    background-color: blueviolet;
    border-radius: 0.5em;
    border-color: blueviolet;
    color: white;
}

body {
    background: url(background1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


@media only screen and (max-width: 600px) {
    button {
        background-color: blueviolet;
        border-radius: 0.3em;
        border-color: blueviolet;
        color: white;
        width: 100%;
        font-size: 1.5em;
        height:2em;
    
    }

    .container {
        text-align: center;
    }

    .rubbe-container {
        margin-top: 3em;
        display: flex;
        height: 200px;
    }

    .rubbe {
        color: white;
        font-family: Lobster;
        font-size: 4em;
        width: 4em; 
        height: 4em; 
        margin: auto; 
    }

    .form-container {
        display: flex;
        height: 300px; /* Or whatever */
        
    }

    form {
        width: 18em;  /* Or whatever */
        height: 10em; /* Or whatever */
        margin: auto;
        text-align: center;
    }
    
    input {
        margin-bottom: 1em;
        text-align: center;
        font-size: 1.5em;
        margin-left: 0.1em;
        margin-right: 0.1em;
        width: 5.8em;
        border-radius: 0.3em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }
}
